@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff; */
  --background: #fff5eb;
  /* --foreground: #171717; */
  --foreground: #422206;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* border-color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, .navbar, .footer, .pet-details-image, .pet-map, .pet-button, input, .submit-button, .search-results-card, .search-dropdown {
  border-color: var(--foreground);
}
